<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>


        {% for category_item in categories_list %}      
        <li class="nav-item dropdown">       
            
            <input class="form-check-input ml-1" type="checkbox" name="main-cat" id="main-cat-{{ category_item.id }}" value="{{ category_item.id }}">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 ml-4 {% if category_item.subcat_count > 0 %} dropdown-toggle {% endif %}" 
                href="#" id="{{ category_item.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ category_item.friendly_name }}  
            </a>
            
            {% if category_item.subcat_count > 0 %}
            
            <div class="dropdown-menu border-0 mt-0 pt-0 mb-0 pb-0" aria-labelledby="homeware-link">
            
                {% for subcategory_item in category_item.subcategory_set.all %}
                
                <a href="{% url 'products' %}?category=bed_bath" class="dropdown-item pt-0 mb-0 pb-0">
                    <input type="checkbox" name="main-sub" id="main-sub-{{ subcategory_item.id }}" value="{{ category_item.id }}-{{ subcategory_item.id }}">
                    {{ subcategory_item.friendly_name }}
                </a>
                
                {% endfor %}
            
            </div>
            {% endif %}
        </li>
        {% endfor %}


        

    </ul>
</div>

<script type="text/javascript">

    window.onload = function() {
        console.log("page load: ", "{{ main_cat_checked }}");
        // var main_cat_checked = json("{{ main_cat_checked }}")
        var main_cat_checked = JSON.parse('{{ main_cat_checked | escapejs }}');
        console.log("MAIN ", main_cat_checked)
        // var main_cat_checked = {{ main_cat_checked }};
        // for (chkBox in main_cat_checked) {
        for (i = 0; i < main_cat_checked.length; ++i) {
            console.log(main_cat_checked[i])
            document.getElementById("main-cat-"+main_cat_checked[i]).checked=true;
        }
    };

    $('input[type="checkbox"]').change(function(e) {
        // Menu checkbox clicked
        // First traverse the menu and update parent/child checkboxes based on the Clicked checkbox

        var checked = $(this).prop("checked"),
            container = $(this).parent(),
            siblings = container.siblings();

        container.find('input[type="checkbox"]').prop({
            indeterminate: false,
            checked: checked
        });

        function checkSiblings(el) {

            var parent = el.parent().parent(),
                all = true;

            el.siblings().each(function() {
                let returnValue = all = ($(this).children('input[type="checkbox"]').prop("checked") === checked);
                return returnValue;
            });

            if (all && checked) {
                parent.children('input[type="checkbox"]').prop({
                    indeterminate: false,
                    checked: checked
                });
                checkSiblings(parent);
            } else if (all && !checked) {
                parent.children('input[type="checkbox"]').prop("checked", checked);
                parent.children('input[type="checkbox"]').prop("indeterminate", (parent.find('input[type="checkbox"]:checked').length > 0));
                checkSiblings(parent);
            } else {
                el.parents("li").children('input[type="checkbox"]').prop({
                    indeterminate: true,
                    checked: false
                });
            }
        }

        checkSiblings(container);

        // Next get 

        // const checkBoxList =
        //     document.querySelectorAll('input[name="main-cat"][type="checkbox"]:checked')
        // console.log("checkBoxList", checkBoxList);

        var mainCatChecked = []
        document.querySelectorAll('input[name="main-cat"][type="checkbox"]:checked').forEach(function(element) {
            mainCatChecked.push(element.getAttribute('value'))
            console.log("GET EL:", element.getAttribute('value'));
        });
        // mainCatChecked.push('7')
        // mainCatChecked.push('9')
        
        console.log("GOT CHECKED: ", mainCatChecked);





        // mainCatChecked = []
        // for (chkBox = 0; chkBox < checkBoxList.length; ++chkBox) {
        //     console.log("checkBoxItem: --->", chkBox)
        //     mainCatChecked = mainCatChecked + chkBox.id
        // }

        const mainCatIndeterminate = document.querySelectorAll('input[name="main-cat"][type="checkbox"]:indeterminate');
        const mainSubChecked = document.querySelectorAll('input[name="main-sub"][type="checkbox"]:checked');

        console.log("MAIN CAT Check:", mainCatChecked);
        console.log("MAIN CAT Ind:", mainCatIndeterminate);
        console.log("MAIN SUB Check:", mainSubChecked);

        const cars = [[3,4], [5,6], [7,8]];
        const boats = [13, 15, 17];
        // const cars = [{firstName:"John"}, {lastName:"Doe"}, {age:46}];
        sessionStorage.setItem('mycars', JSON.stringify(cars));
        sessionStorage.setItem('myboats', boats);
        let keys = Object.keys(sessionStorage);
        for(let key of keys) {
            console.log("1")
            console.log(`${key}: ${sessionStorage.getItem(key)}`);
        }


        // let text = "How are you doing today?";
        // const myArray = text.split(" ");

        // const fruits = ["Banana", "Orange", "Apple", "Mango"];
        // document.getElementById("demo").innerHTML = fruits.includes("Mangoa");
        // console.log("key", keys)

        // document.getElementById("main-cat-"+keys[0][1]).checked = true

        // const mycars = JSON.parse(sessionStorage.getItem('mycars'));
        // console.log("Get mycars: ", mycars);
        // const myboats = sessionStorage.getItem('myboats');
        // console.log("Get myboats: ", myboats);

        // const djtest = sessionStorage.getItem('djtest');
        // console.log("Get djtest: ", djtest);


        var eventID = [[95,96],[97,98]];
        var start = 99;

        $.post({
            url: "{% url 'update_session' %}",
            type: "GET",
            data: {eventID: eventID, start: start, main_cat_checked: mainCatChecked},
            success: function(response){},
            complete: function(){},
            error: function (xhr, textStatus, thrownError){
                alert("Error in ajax post");
            }
        });


        // location.reload();
        window.location.href = "";

        // const checkedValues = [
        //     ...document.querySelectorAll('input[type="checkbox"]:checked')
        // ].map(check => check.value);        

    });

</script>