<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>


        {% for category_item in categories_list %}      
        <li class="nav-item dropdown">       
            
            <input class="form-check-input ml-1" type="checkbox" name="main-cat" id="main-cat-{{ category_item.id }}" value="{{ category_item.id }}">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 ml-4 {% if category_item.subcat_count > 0 %} dropdown-toggle {% endif %}" 
                id="{{ category_item.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ category_item.friendly_name }}  
            </a>
            
            {% if category_item.subcat_count > 0 %}
            
            <div class="dropdown-menu border-0 mt-0 pt-0 mb-0 pb-0" aria-labelledby="homeware-link">
            
                {% for subcategory_item in category_item.subcategory_set.all %}
                
                <a class="dropdown-item pt-0 mb-0 pb-0">
                    <input type="checkbox" name="main-sub" id="main-sub-{{ subcategory_item.id }}" value="{{ subcategory_item.id }}">
                    {{ subcategory_item.friendly_name }}
                </a>
                
                {% endfor %}
            
            </div>
            {% endif %}
        </li>
        {% endfor %}
  

    </ul>
</div>

<script type="text/javascript">

    window.onload = function() {

        var main_cat_checked = JSON.parse('{{ main_cat_checked }}');
        for (i = 0; i < main_cat_checked.length; ++i) {
            document.getElementById("main-cat-"+main_cat_checked[i]).checked=true;
        }

        var main_cat_indeterminate = JSON.parse('{{ main_cat_indeterminate }}');
        for (i = 0; i < main_cat_indeterminate.length; ++i) {
            document.getElementById("main-cat-"+main_cat_indeterminate[i]).indeterminate=true;
        }

        var main_sub_checked = JSON.parse('{{ main_sub_checked }}');
        for (i = 0; i < main_sub_checked.length; ++i) {
            document.getElementById("main-sub-"+main_sub_checked[i]).checked=true;
        }        
    };


    $('input[type="checkbox"]').change(function(e) {
        // Menu checkbox clicked
        // First traverse the menu and update parent/child checkboxes based on the Clicked checkbox

        var checked = $(this).prop("checked"),
            container = $(this).parent(),
            siblings = container.siblings();

        container.find('input[type="checkbox"]').prop({
            indeterminate: false,
            checked: checked
        });

        function checkSiblings(el) {

            var parent = el.parent().parent(),
                all = true;

            el.siblings().each(function() {
                let returnValue = all = ($(this).children('input[type="checkbox"]').prop("checked") === checked);
                return returnValue;
            });

            if (all && checked) {
                parent.children('input[type="checkbox"]').prop({
                    indeterminate: false,
                    checked: checked
                });
                checkSiblings(parent);
            } else if (all && !checked) {
                parent.children('input[type="checkbox"]').prop("checked", checked);
                parent.children('input[type="checkbox"]').prop("indeterminate", (parent.find('input[type="checkbox"]:checked').length > 0));
                checkSiblings(parent);
            } else {
                el.parents("li").children('input[type="checkbox"]').prop({
                    indeterminate: true,
                    checked: false
                });
            }
        }

        checkSiblings(container);

        // Next get 

        var mainCatChecked = []
        document.querySelectorAll('input[name="main-cat"][type="checkbox"]:checked').forEach(function(element) {
            mainCatChecked.push(element.getAttribute('value'))
        });

        var mainCatIndeterminate = []
        document.querySelectorAll('input[name="main-cat"][type="checkbox"]:indeterminate').forEach(function(element) {
            mainCatIndeterminate.push(element.getAttribute('value'))
        });

        var mainSubChecked = []
        document.querySelectorAll('input[name="main-sub"][type="checkbox"]:checked').forEach(function(element) {
            mainSubChecked.push(element.getAttribute('value'))
        });


        $.post({
            url: "{% url 'update_session' %}",
            headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
            type: "POST",
            data: {main_cat_checked: mainCatChecked, main_cat_indeterminate: mainCatIndeterminate, main_sub_checked: mainSubChecked},
            success: function(response){},
            complete: function(){},
            error: function (xhr, textStatus, thrownError){
                alert("Error in ajax post");
            }
        });


        location.reload();
        // window.location.href = "";      

    });

</script>