<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>




        {% for category_item in categories_list %}
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ category_item.friendly_name }}
            </a>
            {{ category_item.subcat_count }}
            {% if category_item.subcat_count > 0 %}
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                {% for subcategory_item in category_item.subcategory_set.all %}
                <a href="{% url 'products' %}?category=bed_bath" class="dropdown-item">{{ subcategory_item.friendly_name }}</a>
                {% endfor %}
            </div>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
