{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <label  class="mr-2" id="image-pre-mouseover">{{ product.image.url }}</label>
    <label  class="mr-2" id="colourtext-pre-mouseover"></label>
    <label class="mr-2" id="sizetext-pre-mouseover"></label>
    <label class="mr-2" id="selected-prodinv-id"></label>
    <label class="mr-2" id="selected-product-colour-id"></label>
    <label class="mr-2" id="selected-size-code"></label>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <img class="card-img-top img-fluid" id="large-product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0">{{ product.name }}</p>
                    {% if product.category.sale_percent > 0 %}
                        <p class="lead mb-0 text-left font-weight-bold"><del>Was €{{ product.price }}</del></p>
                        <p class="lead mb-0 text-left font-weight-bold" style="color:red">Now €{{ product.get_sale_price }}</p>
                    {% else %}
                        <p class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</p>
                    {% endif %}
                    {% if product.category %}
                    <p class="small mt-1 mb-0">
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a href="{% url 'edit_product' product.id %}">Edit</a> 
                            {% if product_has_no_orders %}| 
                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                            {% endif %}
                        </small>
                    {% endif %}
                    <p class="mt-3">{{ product.description }}</p>

                    {% with product.has_colours as c %}
                    {% if c %}
                        <p class="col-12"><strong>Colour: <label id="colour-label"></label></strong></p>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            {% for prodinv_colour in prodinv_colour_list %}
                            <button type="button" class="btn border border-primary mr-4 rounded btn-prodinv-colour" id="colour-{{ prodinv_colour.0 }}" 
                                data-product-colour-id="{{ prodinv_colour.0 }}" data-colour-name="{{ prodinv_colour.1 }}" value="{{ prodinv_colour.2 }}" 
                                onclick="colourOnClick(this)" onmouseover="colourMouseOver(this)" onmouseout="colourMouseOut(this)"
                                style="height: 75px; width: 75px; background-image: url('{{ prodinv_colour.2 }}'); background-size: contain; background-repeat: no-repeat">
                            </button>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% endwith %}

                    {% with product.has_sizes as s %}   
                    {% if s %}
                        <p class="col-12 mt-2"><strong>Size: <label id="size-label"></label></strong></p>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            {% for prodinv_size in prodinv_size_list %}
                            <button type="button" class="btn border border-primary mr-4 rounded btn-prodinv-size" id="size-{{ prodinv_size.0 }}" 
                                data-size-code="{{ prodinv_size.0 }}" data-size-name="{{ prodinv_size.1 }}"
                                onclick="sizeOnClick(this)" onmouseover="sizeMouseOver(this)" onmouseout="sizeMouseOut(this)"
                                style="height:35px; width:35px z-index: 20">{{ prodinv_size.0 }}
                            </button>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% endwith %}

                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                                  
                            {% with product.has_sizes as s %}
                            {% if s %}
                                <input type="hidden" id="product-size" name="product_size" value="">
                            {% endif %}

                            <input type="hidden" id="product-inventory-id" name="product_inventory_id" value="">

                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-black rounded-0" 
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-black rounded-0"
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col{% if s %}-12 mt-2{% endif %}">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" id="add-to-bag" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            {% endwith %}
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% if freq_bought_together %}
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="row">
                <h4>Frequently bought together</h4>
            </div>
            <div class="row">        
                <img src="{{ product.image_url }}" width="100px" alt="selected product">
                <a> + </a>
                <a href="{% url 'product_detail' freq_bought_together.id %}">
                    <img src="{{ freq_bought_together.image_url }}" width="100px" alt="{{freq_bought_together.name }}">
                </a>
            </div>
        </div>
        {% endif %}

    </div>

    <script type="text/javascript">
        
        var hasSizes = document.contains(document.getElementById("size-label")); // If label created then HasSizes is True
        var hasColours = document.contains(document.getElementById("colour-label")); // If label created the HasColours is True
        
        if (hasSizes || hasColours) {   // If Product eith Has Colours OR Has Sizes 
            document.getElementById("add-to-bag").disabled = true;  // then Disable the Add To Bag button on page load as neither Colour/Size selected yet
        }

        if (hasSizes && !hasColours) {     // If Product Has Sizes but NOT Colours, then disable all Size buttons where Quantity = 0
            var btnSizeList = document.getElementsByClassName('btn-prodinv-size');   // Get list of all Product Size buttons
            for(var i=0; i < btnSizeList.length; i++) {          // Loop through each to see quantity is 0
                btnSizeCode = btnSizeList[i].getAttribute("data-size-code");
                var productInventoryQuantity = 0;
                "{% for prodinv in prodinv_list %}"     // Loop through Product Inventory Context to check if size is in ProductInventory Context
                    productInventoryQuantity = "{{ prodinv.3 }}";
                    if (btnSizeCode == "{{ prodinv.2 }}" && !(productInventoryQuantity > 0)) { // If Size found and Quanity NOT > 0
                        btnSizeList[i].disabled = true;                                  // then disable button
                    }
                "{% endfor %}"
            }
        }

        if (hasColours && !hasSizes) {     // If Product Has Colours but NOT Sizes, then disable all Colour buttons where Quantity = 0
            var btnColourList = document.getElementsByClassName('btn-prodinv-colour');   // Get list of all Product Colour buttons
            for(var i=0; i < btnColourList.length; i++) {          // Loop through each to see if quantity is 0
                btnColourCode = btnColourList[i].getAttribute("data-product-colour-id");
                var productInventoryQuantity = 0;
                "{% for prodinv in prodinv_list %}"     // Loop through Product Inventory Context to check if colour is in ProductInventory Context
                    productInventoryQuantity = "{{ prodinv.3 }}" 
                    if (btnColourCode == "{{ prodinv.2 }}" && !(productInventoryQuantity > 0)) { // If Colour found and Quanity NOT > 0
                        btnColourList[i].disabled = true;                                  // then disable button
                    }
                "{% endfor %}"
            }
        }
      
        function colourMouseOver(el) {
            var colourMouseoverImage = document.getElementById(event.target.id);    // Get element of small Image with Mouseover event
            document.getElementById("large-product-image").src = colourMouseoverImage.value;    // Change Large Image displayed with Mouseover Image 
            document.getElementById("colour-label").innerHTML = colourMouseoverImage.getAttribute("data-colour-name");  // Display Colour Text of Mouseover Image
        }


        function colourMouseOut(el) {
            var imagePreMouseover = document.getElementById("image-pre-mouseover").innerHTML;   // Get element of small Image with Mouseout event
            document.getElementById("large-product-image").src = imagePreMouseover; // Put back the Large Image that was present prior to Mouseover
            var colourtextPreMouseover = document.getElementById("colourtext-pre-mouseover").innerHTML; // Get Colour text present prior to Mousover
            document.getElementById("colour-label").innerHTML = colourtextPreMouseover; // Put back colour text present prior to Mousover
        }
        
        function colourOnClick(el) {
            var colourClickedImage = document.getElementById(event.target.id);  // Get element that was clicked
            document.getElementById("image-pre-mouseover").innerHTML = colourClickedImage.value; // Store Image name of Small Image clicked
            document.getElementById("colourtext-pre-mouseover").innerHTML = colourClickedImage.getAttribute("data-colour-name");   // Store Colour Text of small Image clicked
            document.getElementById("selected-product-colour-id").innerHTML = colourClickedImage.getAttribute("data-product-colour-id");    // Store ProductColour ID of small Image clicked

            var btnColourList = document.getElementsByClassName('btn-prodinv-colour');   // Colour button selected 
            for(var i=0; i < btnColourList.length; i++) {       // so re-enable all other Colour buttons (in case disabled)
                    btnColourList[i].disabled = false;
            }

            var hasSizes = document.contains(document.getElementById("size-label")); // If label created then HasSizes is True
            var selectedSizeCode = document.getElementById("selected-size-code").innerHTML; // Get Selected Size Code (If any)
            var selectedProductColourID = document.getElementById("selected-product-colour-id").innerHTML; // Get Selected Colour Code
            
            if ( (!hasSizes) || selectedSizeCode != "") {   // If Product does NOT have sizes OR Size already selected
                "{% for prodinv in prodinv_list %}"     // Loop through Product Inventory Context to get match of Selected Colour OR (Selected Colour AND Size)
                    productColourID = "{{ prodinv.1 }}";
                    if (hasSizes) {
                        sizeCode = "{{prodinv.2 }}";
                        if (productColourID == selectedProductColourID && sizeCode == selectedSizeCode) {   // If Match on Colour AND Size
                            document.getElementById("selected-prodinv-id").innerHTML = "{{ prodinv.0 }}";   // Then save the Selected ProductInventory ID
                            document.getElementById("product-inventory-id").value = "{{ prodinv.0 }}";
                        }
                    } else {    // No Sizes for this product 
                        if (productColourID == selectedProductColourID) {   // So only need to match on the Colour
                            document.getElementById("selected-prodinv-id").innerHTML = "{{ prodinv.0 }}";   // If matches save the Selected ProductInvetory ID
                            document.getElementById("product-inventory-id").value = "{{ prodinv.0 }}";
                        }
                    }
                "{% endfor %}"
            }

            if (!hasSizes) {  // If No Sizes for this Product
                document.getElementById("add-to-bag").disabled = false;  // then Enable the Add To Bag button as Colour now selected
            } else {    // Otherwise Has Sizes
                var btnSizeList = document.getElementsByClassName('btn-prodinv-size');   // Get list of all Product Size buttons
                for(var i=0; i < btnSizeList.length; i++) {          // Loop through each to see if Colour / Size combination exists in Product Inventory Context
                    btnSizeCode = btnSizeList[i].getAttribute("data-size-code");
                    var productColourSizeComboExists = false;
                    var productInventoryQuantity = 0;
                    "{% for prodinv in prodinv_list %}"     // Loop through Product Inventory Context to check if size is in ProductInventory Context for Colour Selected
                        if (selectedProductColourID == "{{ prodinv.1 }}" && btnSizeCode == "{{ prodinv.2 }}") { // If yes
                            productColourSizeComboExists = true;                                       // then set boolean to true
                            productInventoryQuantity = "{{ prodinv.3 }}";                               // and store quanity available for this Colour/Size combo
                        }
                    "{% endfor %}"
                    
                    if (productColourSizeComboExists && productInventoryQuantity > 0) { // if colour/size combo was found earlier and quanity available for sale
                        btnSizeList[i].disabled = false;                           // enable this Size button
                    } else {
                        btnSizeList[i].disabled = true;                     // otherwise disable the Size button
                        if (btnSizeCode == document.getElementById("selected-size-code").innerHTML) {   // if this Size ws already Selected
                            document.getElementById("selected-size-code").innerHTML = "";       // then empty out the Selection for Size
                            document.getElementById("product-size").value = "";       // then empty out the Selection for Size
                        }
                    }
                }

                if (document.getElementById("selected-size-code").innerHTML == "") {    // if Selected Size Code is Empty
                    document.getElementById("add-to-bag").disabled = true;      // then disable Add To Bag button as Size/Colour combo not selected
                }
            }

        }


        function sizeMouseOver(el) {
            var sizeMouseover = document.getElementById(event.target.id);   // Get element of Size with Mouseover
            document.getElementById("size-label").innerHTML = sizeMouseover.getAttribute("data-size-name"); // Display Size Text
        }

        function sizeMouseOut(el) {
            var sizetextPreMouseover = document.getElementById("sizetext-pre-mouseover").innerHTML; // Get Size text displayed prior to Mouseover
            document.getElementById("size-label").innerHTML = sizetextPreMouseover; // Put back Size text that was present prior to Mouseover
        }
        
        function sizeOnClick(el) {
            var sizeClicked = document.getElementById(event.target.id); // Get element of Size clicked
            document.getElementById("sizetext-pre-mouseover").innerHTML = sizeClicked.getAttribute("data-size-name");   // Store Size name of size clicked
            document.getElementById("selected-size-code").innerHTML = sizeClicked.getAttribute("data-size-code");   // Store size Code of size clicked
            document.getElementById("product-size").value = sizeClicked.getAttribute("data-size-code");

            var btnSizeList = document.getElementsByClassName('btn-prodinv-size');   // CSize button selected
            for(var i=0; i < btnSizeList.length; i++) {          // so re-enable all other Size buttons (in case disabled)
                btnSizeList[i].disabled = false;
            }

            var hasColours = document.contains(document.getElementById("colour-label")); // If label created the HasColours is True
            var selectedSizeCode = document.getElementById("selected-size-code").innerHTML; // Get Selected Size Code
            var selectedProductColourID = document.getElementById("selected-product-colour-id").innerHTML; // Get Selected Colour Code (If any)

            if ( (!hasColours) || selectedProductColourID != "") {   // If Product does NOT have colours OR Colour already selected
                "{% for prodinv in prodinv_list %}"     // Loop through Product Inventory Context to get match of Selected Size OR (Selected Size AND Colour)
                sizeCode = "{{prodinv.2 }}";    
                    if (hasColours) {
                        productColourID = "{{ prodinv.1 }}";
                        if (productColourID == selectedProductColourID && sizeCode == selectedSizeCode) {   // If Match on Colour AND Size
                            document.getElementById("selected-prodinv-id").innerHTML = "{{ prodinv.0 }}";   // Then save the Selected ProductInventory ID
                            document.getElementById("product-inventory-id").value = "{{ prodinv.0 }}";
                        }
                    } else {    // No Colours for this product 
                        if (sizeCode == selectedSizeCode) {   // So only need to match on the Size
                            document.getElementById("selected-prodinv-id").innerHTML = "{{ prodinv.0 }}";   // If matches save the Selected ProductInvetory ID
                            document.getElementById("product-inventory-id").value = "{{ prodinv.0 }}";
                        }
                    }
                "{% endfor %}"
            }

            if (!hasColours) {  // If No Colours for this Product
                document.getElementById("add-to-bag").disabled = false;  // then Enable the Add To Bag button as Size now selected
            } else {    // Otherwise Has Colours
                var btnColourList = document.getElementsByClassName('btn-prodinv-colour');   // Get list of all Product Size buttons
                for(var i=0; i < btnColourList.length; i++) {          // Loop through each to see if Colour / Size combination exists in Product Inventory Context
                    btnProductColourID = btnColourList[i].getAttribute("data-product-colour-id");
                    var productColourSizeComboExists = false;
                    var productInventoryQuantity = 0;
                    "{% for prodinv in prodinv_list %}"     // Loop through Product Inventory Context to check if Colour is in ProductInventory Context for Size Selected
                        if (selectedSizeCode == "{{ prodinv.2 }}" && btnProductColourID == "{{ prodinv.1 }}") { // If yes
                            productColourSizeComboExists = true;                                        // then set boolean to true
                            productInventoryQuantity = "{{ prodinv.3 }}";                               // and store quanity available for this Colour/Size combo
                        }
                    "{% endfor %}"
                    
                    if (productColourSizeComboExists && productInventoryQuantity > 0) { // if colour/size combo was found earlier and quanity available for sale
                        btnColourList[i].disabled = false;                           // enable this Colour button
                    } else {
                        btnColourList[i].disabled = true;                     // otherwise disable the Colour button
                        if (btnProductColourID == document.getElementById("selected-product-colour-id").innerHTML) {   // if this Colour ws already Selected
                            document.getElementById("selected-product-colour-id").innerHTML = "";       // then empty out the Selection for Colour
                        }
                    }
                }

                if (document.getElementById("selected-product-colour-id").innerHTML == "") {    // if Selected Colour Code is Empty
                    document.getElementById("add-to-bag").disabled = true;      // then disable Add To Bag button as Size/Colour combo not selected
                }
            }
        }
        
    </script>

{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}